<!DOCTYPE html>
<html>
<head>
    <title>Staff Registration - AllHikers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <div class="container">
            <img src="/static/images/logo.png" alt="Logo" class="logo">
            <span>AllHikers</span>
        </div>
    </header>

    <main class="container">
        <div class="login-box">
            <div class="auth-card">
                <h2>Staff Registration</h2>

                

                <form method="POST" action="{{ url_for('auth.register_staff') }}">

                    <div class="form-group">
                        <label for="username">Name:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Full Name</label>
                        <input type="text" id="full_name" name="full_name" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="integer" id="phone" name="phone" required>
                    </div>
                    
                    <div class="form-group">
                            <label for="joined_at" class="form-label">Joinning Date</label>
                            <input type="date" class="joined_at" name="joined_at" id="joined_at" >
                    </div>
                    <div class="form-group">
                        <label for="experience_year" class="form-label">Experience year</label>
                        <input type="number" class="form-control" name="experience_years" id="experience_years" >
                    </div>
                    <div class="form-group">
                        <label for="specialization" class="form-label">Specialization</label>
                        <input type="text" class="form-control" name="specialization" id="specialization" placeholder="High-Altitude Mountaineering">
                    </div>
                    <button type="submit" class="btn">Register as staff</button>
                </form>

                <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a>.</p>
                <p>Register as a Trekker instead? <a href="{{ url_for('auth.register') }}">Register here</a>.</p>
            </div>
        </div>
    </main>

</body>
</html>