{% extends "base.html" %}

{% block title %}
Staff Dashboard
{% endblock %}


{% block cards %}

<div class="card">
    <h4>Assigned Treks</h4>
    <h1>{{ assigned_treks }}</h1>
</div>

<div class="card">
    <h4>Total Participants</h4>
    <h1>{{ participants }}</h1>
</div>

<div class="card">
    <h4>Open Treks</h4>
    <h1>{{ open_treks }}</h1>
</div>

{% endblock %}


{% block content %}

<h2>My Assigned Treks</h2>

<table>

<tr>
    <th>Trek</th>
    <th>Location</th>
    <th>Participants</th>
    <th>Slots</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for trek in treks %}

<tr>

    <td>{{ trek.name }}</td>

    <td>{{ trek.location }}</td>

    <td>{{ trek.participants }}</td>

    <td>{{ trek.slots }}</td>

    <td>{{ trek.status }}</td>

    <td>
        <a href="{{ url_for('auth.manage_trek', trek_id=trek.id) }}">
        <button class="btn">Manage</button>
        </a>
        <a href="{{ url_for('auth.view_trek', trek_id=trek.id) }}">
        <button class="btn">View</button>
        </a>

    </td>

</tr>

{% endfor %}

</table>

{% endblock %}